google-genai
fastapi
uvicorn
pymongo
pinecone
mcp
fastmcp
pydantic
typing-extensions
passlib
python-jose
python-multipart

# & f:/AGENTZALO/agentzalo_env/Scripts/Activate.ps1
# uvicorn Main:app --host 0.0.0.0 --port 8000 --reload
#python -m MCP_Server.Mcp_server